$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,900);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);

body{
  font-family: 'Roboto', sans-serif;
}

header{
  margin-top: 50px;
  .navbar-collapse{
    padding: 0;
  }
  .navbar{
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    .navbar-brand{
      margin-top: -60px;
      text-indent: -9999px;
      display: inline-block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom: -120px;
      z-index: 99;
      position: relative;
      background: {
        image: url('../images/logo.png');
        repeat: no-repeat;
        size: 150px 106px;
        position: 50% 50%;
        color: white;
      }
    }
    .navbar-nav{
      background: #64a9d0;
    }
  }
  .nav{
    & > li{
      & > a{
        color: white;
        font-weight: 300;
        &:hover,
        &:active{
          background-color: #478bb1;
        }
      }
    }
  }
}

.carousel-inner{
  & > .item{
    & > a {
      & > img{
        width: 100%;
      }
    }
    & > img{
      width: 100%;
    }
  }
}

#logos{
  padding-top: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-align: center;
  background: {
    image: url('../images/block-bg.png');
  }
  .logo{
    padding: 20px;
    margin: 20px 0;
    box-shadow: 2px 3px 4px 4px #474747;
    border-radius: 1px;
    img{
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  p{
    font-size: 20px;
  }
}

.form{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  background: white;
  padding: 10px;
  margin-top: 20px;
  span{
    display: inline-block;
  }
  input{
    font-weight: 300;
    margin-top: 15px;
  }
  .button{
    margin-top: 15px;
  }
  button{
    background: #115281;
    color: white;
    border-radius: 0;
    &:hover{
      color: white;
    }
  }
}

#logos2{
  padding: 80px 0;
  //font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-align: center;
  background:{
    image: url('../images/background-blue.jpg');
    size: 100%;
    position: 50% 50%;
  }
  .logo {
    position: relative;
    margin: 20px 0;
    img{
      max-width: 100%;
      width: 100%;
      transition: all .4s ease;
    }
    &:before{
      transition: all .4s ease;
    }
    p{
      opacity: 0;
      transition: all .4s ease;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      right: 20px;
    }
    &:hover{
      &:before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
        transform: scale(1.1, 1.1);
      }
      p{
        opacity: 1;
        color: white;
        z-index: 3;
        text-align: center;
        text-shadow: 3px 3px #000000;
      }
      img{
        transform: scale(1.1, 1.1);
      }
    }
  }
}


footer{
  background: #00365C;
  color: white;
  a{
    color: white;
    padding: 5px 0;
    display: inline-block;
    &:before{
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f054";
      padding-right: 5px;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  .logo{
    text-align: center;
    background: white;
    display: table-cell;
    border-radius: 50%;
    width: 155px;
    height: 155px;
    vertical-align: middle;
    margin-top: 15px;
    box-shadow: 3px 3px 6px 4px rgb(3, 48, 68);
    img{
      max-width: 90%;
    }
  }
  .logo-wrapper{
    margin-top: -30px;
  }
  .footer{
    background: #001C30;
    p{
      font-size: 13px;
      padding: 10px 0;
    }
  }
}
